[fetch]
    prune = true
[user]
	name = parbez
	email = imranbarbhuiya.fsd@gmail.com
	signingkey = 0EC9D6A68563A2CD
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[tag]
	sort = version:refname
	forceSignAnnotated = true
[init]
	defaultBranch = main
[core]
	editor = cursor --wait
	autocrlf = false
	ignorecase = false
	symlinks = true
	excludesfile = ~/.gitignore
[alias]
    alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    br-delete-useless = "!f() { current=$(git branch --show-current); git branch --merged main --format='%(refname:short)' | while IFS= read -r branch; do if [ \"$branch\" != \"main\" ] && [ \"$branch\" != \"$current\" ]; then git branch -d \"$branch\"; fi; done; }; f"
    co = checkout
    undo = reset --soft HEAD^
    yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"

[push]
    autoSetupRemote = true
    followTags = true
[pull]
	rebase = true
[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true
[rerere]
    enabled = true
[diff]
    algorithm = histogram
    colorMoved = default
[merge]
    conflictStyle = zdiff3
[branch]
    sort = -committerdate
[column]
    ui = auto
[status]
    short = true
    branch = true
