[fetch]
    prune = true
[user]
	name = parbez
	email = imranbarbhuiya.fsd@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[tag]
	sort = version:refname
	forceSignAnnotated = true
[init]
	defaultBranch = main
[core]
	editor = cursor --wait
	autocrlf = false
	ignorecase = false
	symlinks = true
	excludesfile = /Users/imranhussain/.gitignore
[alias]
  # List all available aliases
  alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  # Delete all local branches but main and the current one, only if they are fully merged with main.
  br-delete-useless = !git branch | grep -v "main" | grep -v ^* | xargs -r git branch -d
  # Checkout
  co = checkout

  undo = reset --soft HEAD^
  yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
[push]
    autoSetupRemote = true
    followTags = true
[pull]
	rebase = true
[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true
[rerere]
    enabled = true
[diff]
    algorithm = histogram
    colorMoved = default
[merge]
    conflictStyle = zdiff3
[branch]
    sort = -committerdate
[column]
    ui = auto
[status]
    short = true
    branch = true
